<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>title: <%= form.text_field :title, class: "title" %></p>
    <p>tag  : <%= form.number_field :tag, class: "tag" %></p>
    <%= form.label :content1 %>
    <%= form.rich_text_area :content1 %>
    <%= form.label :content2 %>
    <%= form.rich_text_area :content2 %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
