<p id="notice"><%= notice %></p>
<p>title: <%= @blog.title %></p>
<p>tag: <%= @blog.tag %></p>
<p>content1:</p> <p><%= @blog.content1 %></p>
<p>content2:</p> <p><%= @blog.content2 %></p>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
