<p id="notice"><%= notice %></p>

<h1>BlogTags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= link_to 'Show', blog_tag_path(blog) %></td>
        <td><%= link_to 'Edit', edit_blog_tag_path(blog) %></td>
        <td><%= link_to 'Destroy', blog_tag_path(blog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New BlogTags', new_blog_tag_path %>
